
.MediaPreviewComponentContainer{
    margin: auto;
}

.MediaPreview{
    max-width: 200px;
}

.UnknownMediaPreview{
    max-width: 200px;
    text-align: center;
    font-style: italic;
}

.MediaMessageFrom{
    max-width: 200px;
    color: brown;
    font-weight: 600;
    text-align: left;
}

.MediaMessageBody{
    max-width: 200px;
    text-align: left;
}
